.modal {
    text-align: -webkit-center;
    display:none;
}

.titulo {
    color: white;
}

@media (max-width: 768px) {
    .ctn-tablet {
        justify-content: center;
    }

    .ctn-menu-tablet {
        margin-top: 5px;
    }
}

