.modal {
    text-align: -webkit-center;
}

.modal span {
    text-align: justify;
}

.modalDoc {
    text-align: -webkit-center;
    display: none;
}

.modalDoc ul {
    list-style: inside;
    text-align: initial;
    margin-left: 5px;
}

.titulo {
    color: white;
}

@media(max-width: 460px){
    .btn-checado-cnt {
        background-color: brown;
    }
}

@media (max-width: 640px) {
    .img-digezsa {
        height: 4rem;
    }

    /* Contenedor de boton "Enviar" */
    .btn-enviar-cnt {
        width: 10%;
        margin-right: 2em;
    }

    /* Contenedor de boton "checkbox y condiciones" */
    .btn-checado-cnt {
        width: 80%;
        margin-left: 0.5em;
        margin-top: 1em;
    }

    .tittle-cnt {
        font-size: larger;
    }

    .lista-menu-celular {
        font-size: medium;
    }
    
    .ctn-mobile {
        width: 100%;
    }

    .ctn-tablet {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .ctn-menu-tablet {
        margin-top: 5px;
    }
}

@media (max-width: 1080px){
    .nom {
     color: red;
     margin-top: 3px;
    }

    .sel {
        margin-top: 3px;
    }

}