.modal {
    text-align: -webkit-center;
    display: none;
}

.modal span {
    text-align: justify;
}

.modalDoc {
    text-align: -webkit-center;
    display: none;
}

.modalDoc ul {
    list-style: inside;
    text-align: initial;
    margin-left: 5px;
}

.titulo {
    color: white;
}

@media (max-width: 768px) {
    .ctn-tablet {
        justify-content: center;
    }

    .ctn-menu-tablet {
        margin-top: 5px;
    }
}

@media (max-width: 1080px){
    .nom {
     color: red;
     margin-top: 3px;
    }

    .sel {
        margin-top: 3px;
    }

}